!!! 5
%html
	%head
		%title TODO List!
		= stylesheet_link_tag 'application'
		= javascript_include_tag 'application'
		= csrf_meta_tags
	%body
		.container-fluid
			.row-fluid#header
				.title
					%h1 TODO List Demo Application					
			.row-fluid
				.navbar
					.navbar-inner
						.container-fluid
							.nav-collapse
								%ul{:class=>"nav"}
									%li= link_to "TODO List", :controller => "todoitem", :action => "index"
									%li{:class=>"divider-vertical"}
			.row-fluid= yield
			.row-fluid#footer
