.modal#myModal{"tabindex"=>"-1", "role"=>"dialog", "aria-labelledby"=>"myModalLabel", "aria-hidden"=>"true"}	
	.modal-header
		%button{"type"=>"button", :class=>"close", "data-dismiss"=>"modal", "aria-hidden"=>"true"} X
		%h3{:id=>"myModalLabel"} Details
	.modal-body
		.row-fluid
			.span3
				.label.label-info Title:
			.span9= @todo.title
		.row-fluid
			.span3
				.label.label-info Start time:
			.span9= @todo.start_time
		-if @todo.done
			.row-fluid
				.span3
					.label.label-info Time finished:
				.span9= @todo.time_finished
		.row-fluid
			.span3
				.label.label-info Priority
			.span9= @todo.priority_string
		.row-fluid
			.span3
				.label.label-info Description
			.span9= @todo.description
		.row-fluid
			.span3
				.label.label-info order
			.span9= @todo.sort_num
	.modal-footer
		%button{:class=>"btn", "data-dismiss"=>"modal", "aria-hidden"=>"true"} Close
			

					